<div class="border border-black bg-primary bg-opacity-25 p-3 rounded card shadow border border-black bg-primary bg-opacity-50 h-100">
  <div class="row">
    <div class="col-6">
      <h2>Sprencia</h2>
      <p>Fundada por Rosa María Aparicio, la motivación de Sprencia es clara: mejorar
      el día a día de los séniores.
      Esta empresa ha sido una de las seleccionadas por la Cámara de Comercio de
      Valencia para formar parte de su programa de aceleración de startups,
      convirtiéndose en uno de los proyectos estrella de la edición.
      En los primeros meses de vida del proyecto, ya son varios los organismos que
      se han interesado por esta empresa. ¿Por qué? Por la oportunidad de
      negocio ante la que se encuentran y por sus posibilidades de mejorar la
      sociedad.
      En 2050, el número de personas mayores de 60 años será superior al de
      adolescentes y jóvenes de 15 a 24 años de edad. Ya en la actualidad, por
      primera vez en la historia, el número de personas mayores de 65 años ha
      superado al de los niños menores de 5 años.
      ¿Cuántas necesidades va a tener por cubrir este segmento poblacional en los
      próximos años? De hecho, ya las tiene y no están siendo satisfechas.
      La sociedad solo mira a los séniores como personas dependientes a las
      que prestarles servicios médicos y de cuidado. Pero ¿y aquellos séniores
      que comienzan su segunda etapa vital y gozan de una buena salud, de
      amplio tiempo libre y de mayor capacidad económica?
      Mientras la mayor parte de las empresas solo hablan de millennials y de
      generación Z, hay toda una generación que está deseando ser impactada por
      proyectos dirigidos a ellos.
      Estamos, además, ante grandes consumidores. Si la economía de los séniores
      fuera una nación, sería la tercera economía más grande del mundo, solo por
      detrás de Estados Unidos y China.
      En Sprencia han sabido ver esta oportunidad de mercado y ya están
      trabajando en ella con la convicción de que cuando los otros actores
      empresariales miren más allá de los jóvenes sobreimpactados a los que se
      dirigen y descubran las posibilidades de este mercado, en Sprencia ya sean los
      aliados de referencia de este sector.</p>
    </div>
    <div class="col-6">
      <figure class="ms-5 mt-4">
        <img  class="border border-black img-fluid" src="../../../assets/images/fundadora.jpg" alt="Rosa María Aparicio">
        <figcaption class="mt-4">
          <p class="fw-bold mt-3">Rosa María Aparicio</p>
          <p class="fw-bold mt-3">Email: {{'rosa@gmail.com'}}</p>
          <p class="fw-bold">telefono: 666666666</p>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
